/* animation */
@keyframes anicontent {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes anibot {
  0% {
    opacity: 0;
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* content */
.content {
  background-image: linear-gradient(to right, rgba(214, 109, 117, 0.8), rgba(226, 149, 135, 0.8)), url(../image/bech.jpg);
  box-sizing: border-box;
  height: 88vh;
  width: auto;
  display: block;
  text-align: center;
  -webkit-clip-path: polygon(0 100%, 100% 88%, 100% 0%, 0 0);
  clip-path: polygon(0 100%, 100% 88%, 100% 0%, 0 0); }
  .content__h1 {
    text-transform: uppercase;
    color: #e7e5e5;
    letter-spacing: 19px;
    padding-top: 50px;
    animation: anicontent 2s; }
  .content__bot {
    animation: anibot ease-in 1.7s;
    animation-fill-mode: backwards; }
  .content__bot, .content__bot:link,
  .content__bot:visited .bot--style {
    margin-top: 20px;
    border-radius: 9rem;
    width: 175px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    box-shadow: 1px 1px 90px rgba(0, 0, 0, 0.15); }
  .content__bot,
  .content .bot--style:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2); }
  .content__bot,
  .content .bot--style:active {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); }

.cum {
  color: #fff;
  font-weight: 300;
  line-height: 1.2; }

.header-sec {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to left, #fd5b68, #f18b79);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-out; }
  .header-sec:hover {
    transform: skewx(16deg) skewY(-3deg) scale(1.1);
    box-shadow: 0.2rem 0.8rem 0.4rem rgba(0, 0, 0, 0.2); }

.section__text {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

.paraghraph {
  font-size: 1rem;
  margin-bottom: 2rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  margin: 2rem; }

body {
  font-family: cursive; }

/* uniti css */
.font-sml {
  font-size: smaller; }

.font-nl {
  font: medium; }

.font-lg {
  font-size: xx-large; }

.font-llg {
  font-size: 180px; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.background-telegram {
  background: #00dcdc; }

.image {
  background-size: cover;
  background-position: top; }

a {
  text-decoration: none;
  color: #fff; }

.u-center-text {
  text-align: center; }

.u-margin-bot-big {
  margin-bottom: 5rem; }

.u-margin-bot-med {
  margin-bottom: 2rem; }

.u-margin-bot-small {
  margin-bottom: 1rem; }

.text-uppercase {
  text-transform: uppercase; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-top-med {
  margin-top: 3rem; }

.u-margin-top-big {
  margin-top: 5rem; }

.u-margin-top-hige {
  margin-top: 7rem; }

.style---btn {
  display: inline-block;
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.15);
  font-size: 1.3rem;
  border-radius: 10rem;
  color: #ffffff;
  background-color: aqua;
  padding: 2rem;
  transition: all 0.2s; }
  .style---btn:hover {
    transform: translateY(-7px);
    box-shadow: 0.2rem 0.8rem 0.4rem rgba(0, 0, 0, 0.2); }
  .style---btn:active {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); }

.u-font-size-2rem {
  font-size: 2rem; }

.u-padding-2rem {
  padding: 2rem; }

.btn--green {
  color: #fff;
  background-color: #7bed9f; }

.u-dispaly-inline-block {
  display: inline-block; }

.ul__a:hover {
  border-bottom: 1px #fff solid; }

.ul-primery {
  display: flex; }

.ul.nav {
  margin: 0 10px; }

.card {
  perspective: 50rem;
  -moz-perspective: 50rem;
  position: relative;
  height: 37rem; }
  .card__side {
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.15);
    height: 37rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background: linear-gradient(to right bottom, #f7d794, #f5cd79); }
      .card__side--back-2 {
        background: linear-gradient(to right bottom, #63cdda, #3dc1d3); }
      .card__side--back-3 {
        background: linear-gradient(to right bottom, #7bed9f, #2ed573); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 16rem;
    background-blend-mode: hard-light;
    -webkit-clip-patch: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #f7d794, #f5cd79), url(../image/card__picture-1.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #63cdda, #3dc1d3), url(../image/card__picture-2.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #7bed9f, #2ed573), url(../image/card__picture-3.jpg); }
  .card__heading {
    width: 75%;
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 1.4rem;
    text-align: right;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300; }
  .card__heading-span {
    padding: 0.8rem 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(247, 215, 148, 0.45), rgba(245, 205, 121, 0.85)); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(99, 205, 218, 0.45), rgba(61, 193, 211, 0.85)); }
    .card__heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(123, 237, 159, 0.45), rgba(46, 213, 115, 0.85)); }
  .card__list {
    padding: 2rem; }
    .card__list ul {
      margin: 0 auto;
      list-style: none;
      width: 80%; }
      .card__list ul li {
        text-align: center;
        font-size: 1rem;
        padding: 1rem; }
        .card__list ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .card__cta--box__text {
      text-align: center;
      margin-bottom: 8rem; }
      .card__cta--box__text--p {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 2rem; }
      .card__cta--box__text---p {
        font-size: 5rem;
        font-weight: 100; }
    .card__cta--btn {
      display: inline-block;
      box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.15);
      font-size: 1.3rem;
      border-radius: 10rem;
      color: #ffffff;
      background-color: aqua;
      padding: 2rem;
      transition: all 0.2s; }
      .card__cta--btn:hover {
        transform: translateY(-7px);
        box-shadow: 0.2rem 0.8rem 0.4rem rgba(0, 0, 0, 0.2); }
      .card__cta--btn:active {
        transform: translateY(-2px);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); }

.bot {
  border-radius: 40%;
  color: #fff;
  background-color: aqua;
  padding: 8px; }

.btn--main {
  transition: all 0.4s;
  border-radius: 0.13rem; }
  .btn--main:visited, .btn--main:link {
    font-size: 1rem;
    color: #fd5b68;
    display: inline-block;
    border-bottom: 1px solid #f18b79;
    padding: 3px;
    transition: all 0.2s; }
  .btn--main:hover {
    background-color: #fd5b68;
    color: #fff;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    transform: translateY(-3px); }
  .btn--main:active {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
    transform: translateY(-1px); }

.box--down__btn {
  transition: all 0.2s;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 2.1rem;
  border-bottom: 3px;
  background: linear-gradient(to right, #fd5b68, #f18b79); }
  .box--down__btn__icon {
    display: none; }
  .box--down__btn:hover {
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6));
    color: black;
    color: black;
    transform: translateY(-1rem); }
  .box--down__btn:active .box--down__btn__icon {
    display: inline-block;
    font-size: 1rem; }
  .box--down__btn:active {
    transform: translateY(0);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }

.box--text__btn {
  transition: all 0.2s;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 2.1rem;
  border-bottom: 3px;
  background: linear-gradient(to right, #fd5b68, #f18b79); }
  .box--text__btn:hover {
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8));
    color: black;
    color: black;
    transform: translateY(-1rem); }

/* navbar  */
.navbar .flex {
  justify-content: space-between; }

.navbar-sec {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 0.08rem; }

.row {
  max-width: 58rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row--story {
    max-width: 68rem;
    margin: 0 auto; }
    .row--story::after {
      content: "";
      display: table;
      clear: both; }
  .row .row__2-of-1 {
    width: calc((100% - 0.5rem) / 2);
    float: left; }
    .row .row__2-of-1:not(:last-child) {
      margin-right: 0.5rem; }
  .row__1-of-3 {
    width: calc((100% - (3 * 3rem)) / 3);
    float: left; }
    .row__1-of-3:not(:last-child) {
      margin-right: 3rem; }
  .row__2-of-3-3 {
    width: calc(2 * ((100% - (3 * 3rem)) / 3) + 3rem);
    float: left; }
  .row--card--with {
    max-width: 80rem; }

.content-img {
  position: relative; }
  .content-img__photo {
    width: 75%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.6rem; }
    .content-img__photo__1 {
      left: 2rem;
      bottom: -20rem; }
    .content-img__photo__2 {
      right: -8rem;
      bottom: -13rem; }
    .content-img__photo__3 {
      top: -2rem;
      left: -1rem; }
    .content-img__photo:hover {
      outline: 0.5rem rgba(253, 91, 104, 0.7) solid;
      transform: scale(1.19) translateY(-0.5px);
      box-shadow: 0 1.6rem 1rem rgba(0, 0, 0, 0.5);
      z-index: 15;
      outline-style: inset; }
  .content-img:hover .content-img__photo:not(:hover) {
    transform: scale(0.95); }

.section-featuers__row-2 {
  margin: 0 auto;
  max-width: 1114px; }
  .section-featuers__row-2::after {
    content: "";
    display: table;
    clear: both; }
  .section-featuers__row-2__1-of-4 {
    float: left;
    width: calc((100% - 3 * 4rem) / 4); }
    .section-featuers__row-2__1-of-4:not(:last-child) {
      margin-right: 4rem; }
    .section-featuers__row-2__1-of-4__box {
      transition: transform 0.2s;
      text-align: center;
      font-size: 1rem;
      border-radius: 3px;
      box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
      padding: 2.1rem;
      background-color: rgba(255, 255, 255, 0.4); }
      .section-featuers__row-2__1-of-4__box__icon {
        display: inline-block;
        margin-bottom: 0.3rem;
        font-size: 3.8rem;
        background-image: linear-gradient(to right, #f18b79, #fd5b68);
        -webkit-background-clip: text;
        color: transparent; }
      .section-featuers__row-2__1-of-4__box:hover {
        transform: translateY(-1.1rem) scale(1.03);
        box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.25); }

.story {
  width: 95%;
  border-radius: 3px;
  padding: 4rem;
  padding-left: 5.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__pic {
    width: 10rem;
    height: 10rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1.5rem) skewX(12deg);
    position: relative; }
  .story--pic {
    width: 100%;
    transform: translateY(2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story--pic {
    transform: translateY(0rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section-about {
  background-color: #f7f7f7;
  padding: 18rem 0;
  margin-top: -20vh; }

.section-featuers {
  padding: 10rem 0;
  background-image: linear-gradient(to right, rgba(214, 109, 117, 0.8), rgba(226, 149, 135, 0.8)), url(../../image/section-features.jpg);
  background-size: cover;
  margin-top: -5rem;
  transform: skewY(-5deg); }
  .section-featuers > * {
    transform: skewY(5deg); }

.section--brazil {
  background-color: #f7f7f7;
  padding: 17rem 0 10rem 0;
  margin-top: -5rem; }

.section-story {
  position: relative;
  padding: 12rem 0; }
