// color
$color-white: #fff;
$color-whit-light: #f7f7f7;
$color-pink-light: #fd5b68;
$color-pink-white: #f18b79;
$color-text-white: #f7f7f769;
$color-black: black;

// grid
$space-row: 0.5rem;

// font
$default-font-size: 1rem;
