/* starcss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
}
/* uniti css */
$color-white: #fff;

.font-sml {
  font-size: smaller;
}
.font-nl {
  font: medium;
}
.font-lg {
  font-size: xx-large;
}
.font-llg {
  font-size: 180px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.background-telegram {
  background: #00dcdc;
}
.bot {
  border-radius: 40%;
  color: $color-white;
  background-color: aqua;
  padding: 8px;
}
.image {
  background-size: cover;
  background-position: top;
}
a {
  text-decoration: none;
  color: $color-white;
}
/* navbar  */
.navbar {
  & .flex {
    justify-content: space-between;
  }
  &-sec {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.ul {
  &__a:hover {
    border-bottom: 1px #fff solid;
  }
  &-primery {
    display: flex;
  }
  &.nav {
    margin: 0 10px;
  }
}

.cum {
  color: $color-white;
  font-weight: 300;
  line-height: 1.2;
}

/* content */
.content {
  background-image: linear-gradient(to right, #ee9ca7ca, #ffdde1ef),
    url(../image/bech.jpg);
  box-sizing: border-box;
  height: 490px;
  width: auto;
  display: block;
  text-align: center;
  clip-path: polygon(0 100%, 100% 88%, 100% 0%, 0 0);
  &__h1 {
    text-transform: uppercase;
    color: #e7e5e5;
    letter-spacing: 19px;
    padding-top: 50px;
    animation: anicontent 2s;
  }
  &__bot {
    animation: anibot ease-in 1.7s;
    animation-fill-mode: backwards;
  }
  &__bot,
  &__bot:link,
  &__bot:visited .bot--style {
    margin-top: 20px;
    border-radius: 9rem;
    width: 175px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    box-shadow: 1px 1px 90px rgba(0, 0, 0, 0.1);
  }
  &__bot,
  .bot--style:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  }
  &__bot,
  .bot--style:active {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }
}

/* animation */

@keyframes anicontent {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anibot {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
