.bot {
  border-radius: 40%;
  color: $color-white;
  background-color: $color-quan;
  padding: 8px;
}
.btn--main {
  transition: all 0.4s;
  border-radius: 0.13rem;
  &:visited,
  &:link {
    font-size: $default-font-size;
    color: $color-pink-light;
    display: inline-block;
    border-bottom: 1px solid $color-pink-white;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-pink-light;
    color: $color-white;
    box-shadow: 0 0.2rem 0.5rem rgba($color-black, 0.5);
    transform: translateY(-3px);
  }
  &:active {
    box-shadow: 0 0.2rem 0.3rem rgba($color-black, 0.5);
    transform: translateY(-1px);
  }
}
.box--down__btn {
  transition: all 0.2s;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);

  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
  padding: 2.1rem;
  border-bottom: 3px;
  background: linear-gradient(to right, $color-pink-light, $color-pink-white);
  &__icon {
    display: none;
  }
  &:hover {
    box-shadow: $box-shadow-rem-014 rgba($color-black, 0.25);
    background: linear-gradient(
      to right,
      rgba($color-white, 0.4),
      rgba($color-white, 0.6)
    );
    color: $color-black;

    color: $color-black;
    transform: translateY(-1rem);
  }
  &:active &__icon {
    display: inline-block;
    font-size: 1rem;
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 1rem 1rem rgba($color-black, 0.3);
  }
}
// box--down__btn__icon__text
.box--text__btn {
  transition: all 0.2s;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
  color: $color-white;
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
  padding: 2.1rem;
  border-bottom: 3px;
  background: linear-gradient(to right, $color-pink-light, $color-pink-white);
  &:hover {
    box-shadow: $box-shadow-rem-014 rgba($color-black, 0.25);
    background: linear-gradient(
      to right,
      rgba($color-white, 0.4),
      rgba($color-white, 0.8)
    );
    color: $color-black;

    color: $color-black;
    transform: translateY(-1rem);
  }
}
.form-bot {
  &__bot {
    border-radius: 40%;
    color: $color-white;
    background-color: $color-quan;
    padding: 8px;
    cursor: pointer;
    border: none;
    &,
    &:link,
    &:visited .bot--style {
      height: 4rem;
      border: none;
      margin-top: 20px;
      border-radius: 9rem;
      width: 15rem;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      box-shadow: 1px 1px 90px $box-shodow-015;
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    }
    &:active,
    :focus {
      outline: none;
      transform: translateY(-2px);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    }
  }
}
