.bot {
  border-radius: 40%;
  color: $color-white;
  background-color: $color-quan;
  padding: 8px;
}
.btn--main {
  transition: all 0.4s;
  border-radius: 0.13rem;
  &:visited,
  &:link {
    font-size: $default-font-size;
    color: $color-pink-light;
    display: inline-block;
    border-bottom: 1px solid $color-pink-white;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-pink-light;
    color: $color-white;
    box-shadow: 0 0.2rem 0.5rem rgba($color-black, 0.5);
    transform: translateY(-3px);
  }
  &:active {
    box-shadow: 0 0.2rem 0.3rem rgba($color-black, 0.5);
    transform: translateY(-1px);
  }
}
.box--down__btn {
  transition: all 0.2s;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);

  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
  padding: 2.1rem;
  border-bottom: 3px;
  background: linear-gradient(to right, $color-pink-light, $color-pink-white);
  &__icon {
    display: none;
  }
  &:hover {
    box-shadow: $box-shadow-rem-014 rgba($color-black, 0.25);
    background: linear-gradient(
      to right,
      rgba($color-white, 0.4),
      rgba($color-white, 0.6)
    );
    color: $color-black;

    color: $color-black;
    transform: translateY(-1rem);
  }
  &:active &__icon {
    display: inline-block;
    font-size: 1rem;
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 1rem 1rem rgba($color-black, 0.3);
  }
}
// box--down__btn__icon__text
.box--text__btn {
  transition: all 0.2s;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
  color: $color-white;
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
  padding: 2.1rem;
  border-bottom: 3px;
  background: linear-gradient(to right, $color-pink-light, $color-pink-white);
  &:hover {
    box-shadow: $box-shadow-rem-014 rgba($color-black, 0.25);
    background: linear-gradient(
      to right,
      rgba($color-white, 0.4),
      rgba($color-white, 0.8)
    );
    color: $color-black;

    color: $color-black;
    transform: translateY(-1rem);
  }
}
.form-bot {
  &__bot {
    border-radius: 40%;
    color: $color-white;
    background-color: $color-quan;
    padding: 8px;
    cursor: pointer;
    border: none;
    position: relative;
    backface-visibility: hidden;
    &,
    &:link,
    &:visited .bot--style {
      height: 4rem;
      border: none;
      margin-top: 20px;
      border-radius: 9rem;
      width: 15rem;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      box-shadow: 1px 1px 90px $box-shodow-015;
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: -1;
      border-radius: 100px;
      transition: ALL 0.3s;
    }
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    }
    &:active,
    :focus {
      outline: none;
      transform: translateY(-2px);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    }
    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}

// ? fix btn done
.btn-primery {
  &,
  &:link,
  &:visited {
    font-size: $default-font-size;
    font-family: cursive;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ALL 0.2s;
    padding: 1rem 4rem;
    border-radius: 3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }
  &:hover {
    transform: translateY(-5px) translate(-50%, -50%);

    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.3);
    background-color: $color-white;
  }
  &:active {
    transform: translateY(-1px) translate(-50%, -50%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    border-radius: 100px;
    transition: ALL 0.3s;
  }

  //

  &-white {
    background-color: $color-white;
    color: #777;
  }
  &-white::after {
    background-color: $color-white;
    color: #777;
  }
  &-white::after {
    background-color: $color-white;
    color: #777;
  }

  //

  &-white-dark {
    background-color: $color-white-light;
    color: #777;
  }
  &-white-dark::after {
    background-color: $color-white-light;
    color: #777;
  }
  &-white-dark:hover {
    background-color: $color-white-light;
    color: #777;
  }

  //

  &-pink {
    background-color: $color-pink-white;
    color: $color-white;
  }
  &-pink::after {
    background-color: $color-pink-white;
    color: $color-white;
  }
  &-pink:hover {
    background-color: $color-pink-white;
    color: $color-white;
  }

  //

  &-green {
    background-color: $color-green-white;
    color: $color-white;
  }
  &-green::after {
    background-color: $color-green-white;
    color: $color-white;
  }
  &-green:hover {
    background-color: $color-green-white;
    color: $color-white;
  }

  //
  //

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  &-ani {
    animation: anibot 2s ease-in;
  }
}
