.section-featuers {
  &__row-2 {
    margin: 0 auto;
    max-width: 69.625rem;
    @include res(tab-small) {
      max-width: 40rem;
      width: 47%;
    }
    @include clearfix;

    &__1-of-4 {
      @include res(tab-small) {
        width: 100% !important;
      }
      float: left;
      width: calc((100% - 3 * 4rem) / 4);

      &:not(:last-child) {
        @include res(tab-small) {
          margin-right: 0 !important;
          margin-bottom: 5rem;
        }
        margin-right: 4rem;
      }
      &__box {
        transition: transform 0.2s;
        text-align: center;

        font-size: 1rem;
        border-radius: 3px;
        box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
        padding: 2.1rem;
        background-color: rgba($color-white, 0.4);
        @include res(tab-small) {
          padding: 2rem 0;
        }
        &__icon {
          display: inline-block;
          margin-bottom: 0.3rem;
          font-size: 3.8rem;
          background-image: linear-gradient(
            to right,
            $color-pink-white,
            $color-pink-light
          );
          -webkit-background-clip: text;
          color: transparent;
        }
        &:hover {
          transform: translateY(-1.1rem) scale(1.03);
          box-shadow: $box-shadow-rem-014 rgba($color-black, 0.25);
        }
      }
    }
  }
}
