.row {
  max-width: 58rem;
  margin: 0 auto;
  @include clearfix;
  .row__2-of-1 {
    width: calc((100% - #{$space-row}) / 2);
    float: left;
    &:not(:last-child) {
      margin-right: $space-row;
    }
  }
  &__1-of-3 {
    width: calc((100% - (3 * 3rem)) / 3);
    float: left;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

// row __section-featuers  __1-of-4
