.row {
  max-width: 58rem;
  margin: 0 auto;
  @include res(tab-small) {
    padding: 0 3rem;
  }
  @include clearfix;
  &--story {
    max-width: 68rem;
    margin: 0 auto;
    @include clearfix;
  }
  .row__2-of-1 {
    width: calc((100% - #{$space-row}) / 2);
    @include res(tab-small) {
      width: 100%;
    }

    float: left;
    &:not(:last-child) {
      margin-right: $space-row;
    }
  }
  &__1-of-3 {
    width: calc((100% - (3 * 3rem)) / 3);
    float: left;
    @include res(tab-small) {
      width: 100% !important;
    }
    &:not(:last-child) {
      margin-right: 3rem;
      @include res(tab-small) {
        margin-right: 0 !important;
        margin-bottom: 5rem;
      }
    }
  }

  &__2-of-3-3 {
    width: calc(2 * ((100% - (3 * 3rem)) / 3) + 3rem);
    float: left;
  }
  &--card--with {
    max-width: 80rem;
    @include res(tab-small) {
      max-width: 40rem;
    }
  }
}
.row--book {
  max-width: 79rem;
  margin: 0 auto;
  @include clearfix;
}
// row __section-featuers  __1-of-4
