/* content */
.content {
  background-image: linear-gradient(to right, #ee9ca7ca, #ffdde1ef),
    url(../image/bech.jpg);
  box-sizing: border-box;
  height: 88vh;
  width: auto;
  display: block;
  text-align: center;
  clip-path: polygon(0 100%, 100% 88%, 100% 0%, 0 0);
  &__h1 {
    text-transform: uppercase;
    color: #e7e5e5;
    letter-spacing: 19px;
    padding-top: 50px;
    animation: anicontent 2s;
  }
  &__bot {
    animation: anibot ease-in 1.7s;
    animation-fill-mode: backwards;
  }
  &__bot,
  &__bot:link,
  &__bot:visited .bot--style {
    margin-top: 20px;
    border-radius: 9rem;
    width: 175px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    box-shadow: 1px 1px 90px rgba(0, 0, 0, 0.1);
  }
  &__bot,
  .bot--style:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  }
  &__bot,
  .bot--style:active {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }
}
.cum {
  color: $color-white;
  font-weight: 300;
  line-height: 1.2;
}
.header-sec {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(
    to left,
    $color-pink-light,
    $color-pink-white
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-out;
  &:hover {
    transform: skewx(16deg) skewY(-3deg) scale(1.1);
    box-shadow: 0.2rem 0.8rem 0.4rem rgba(0, 0, 0, 0.2);
  }
}
.section__text {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paraghraph {
  font-size: $default-font-size;
  margin-bottom: 2rem;
}
