/* content */
.section-content {
  &__Container {
    &__h1 {
      color: $color-white-light;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1rem;
      animation: anicontent 2s;
      @include res(phone) {
        font-size: 5rem;
        letter-spacing: 0.5rem;
      }
    }
  }
}
.header-sec {
  font-size: xx-large;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to left, $color-pink-light, $color-pink-white);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s ease-out;
  @include res(tab-small) {
    font-size: 3rem;
  }
  @include res(phone) {
    font-size: 2.5rem;
  }
  &:hover {
    transform: skewx(16deg) skewY(-3deg) scale(1.1);
    box-shadow: 0.2rem 0.8rem 0.4rem rgba(0, 0, 0, 0.2);
  }
}
.section__text {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paraghraph {
  font-size: $default-font-size;
  margin-bottom: 2rem;
}
