/* uniti css */
.font-sml {
  font-size: smaller;
}
.font-nl {
  font: medium;
}
.font-lg {
  font-size: xx-large;
}
.font-llg {
  font-size: 180px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.background-telegram {
  background: #00dcdc;
}

.image {
  background-size: cover;
  background-position: top;
}
a {
  text-decoration: none;
  color: $color-white;
}
