.section-content {
  background-image: linear-gradient(
      to right,
      rgba($color-img-pink-light, 0.8),
      rgba($color-img-pink-white, 0.8)
    ),
    url(../image/bech-small.jpg);

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 120em) {
    background-image: linear-gradient(
        to right,
        rgba($color-img-pink-light, 0.8),
        rgba($color-img-pink-white, 0.8)
      ),
      url(../image/bech.jpg);
  }

  box-sizing: border-box;
  height: 88vh;
  width: auto;
  display: block;
  text-align: center;
  -webkit-clip-path: polygon(0 100%, 100% 88%, 100% 0%, 0 0);
  clip-path: polygon(0 100%, 100% 88%, 100% 0%, 0 0);
  @include res(phone) {
    -webkit-clip-path: polygon(0 100%, 100% 90%, 100% 0%, 0 0);
    clip-path: polygon(0 100%, 100% 90%, 100% 0%, 0 0);
  }

  position: relative;
  background-size: cover;
}

.section-about {
  background-color: $color-white-light;
  padding: 18rem 0;
  margin-top: -20vh;
  @include res(tab-small) {
    padding: 13rem 0;
    padding-top: 22rem;
  }
  @include res(tab-big) {
    padding-top: 22rem;
  }
}
.section-featuers {
  padding: 10rem 0;
  background-image: linear-gradient(
      to right,
      rgba($color-img-pink-light, 0.8),
      rgba($color-img-pink-white, 0.8)
    ),
    url(../../image/section-features-small.jpg);

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 120em) {
    background-image: linear-gradient(
        to right,
        rgba($color-img-pink-light, 0.8),
        rgba($color-img-pink-white, 0.8)
      ),
      url(../../image/section-features.jpg);
  }

  background-size: cover;
  margin-top: -5rem;
  transform: skewY(-5deg);
  & > * {
    transform: skewY(5deg);
  }

  @include res(tab-small) {
    padding: 7rem 0;
  }
}
.section--brazil {
  background-color: $color-white-light;
  padding: 17rem 0 10rem 0;
  margin-top: -5rem;
  @include res(tab-small) {
    padding: 14rem 0;
  }
}
.section-story {
  position: relative;
  padding: 12rem 0;
  @include res(tab-small) {
    padding: 9rem 0;
  }
}
.section-book {
  padding: 12rem 0;
  background: linear-gradient(to right, #f2709c, #ff9472);
  @include res(tab-small) {
    padding: 9rem 0;
  }
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../image/section-book-small.jpg);

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 120em) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 50%,
        transparent 50%
      ),
      url(../../image/section-book.jpg);
  }

  background-size: 100%;
  border-radius: $border-reduis-3px;
  box-shadow: $box-shadow-rem-014 rgba($color-black, 0.2);
  @include res(tab-big) {
    height: 39rem;
  }
  @include res(tab-small) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 60%,
        transparent 60%
      ),
      url(../../image/section-book-small.jpg);

    background-size: cover;
    margin: 0 2rem;
  }

  @media (min-resolution: 192dpi) and (max-width: 56.25em), (min-width: 120em) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 60%,
        transparent 60%
      ),
      url(../../image/section-book.jpg);
  }

  @include res(phone) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%,
        transparent 100%
      ),
      url(../../image/section-book-small.jpg);
  }
  &__form {
    padding: 4rem;
    width: 50%;
    @include res(tab-small) {
      width: 60%;
    }
    @include res(phone) {
      width: 100%;
    }
  }
}
